name: Radar Map Generator

on:
  workflow_dispatch: # Manual trigger
  schedule:
    - cron: '0 * * * *' # Runs every hour

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgeos-dev

      - name: Install Python Libraries
        run: |
          pip install -r requirements.txt

      - name: Run Radar Script
        run: python radar_viewer.py

      - name: Prepare Public Folder
        run: |
          mkdir public
          mv index.html public/
          mv *.png public/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public # The folder the action should deploy.
          branch: gh-pages # The branch the action should deploy to.
